@use 'mixins' as *;
@use 'media' as *;

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: var(--ff-base);
    font-size: 16px;
    line-height: 1.5;
    background: url(../img/body-bg.png) no-repeat center center/cover;
    color: #fff;
}

a {
    @include reset-link;
}

button {
    @include reset-button;
}

main {
    flex: 1;
}

.container {
    max-width: 1380px;
    padding-inline: 50px;
    margin: 0 auto;

    @include media('mobile') {
        padding-inline: 20px;
    }
}

.link--accent {
    @include flexCenter;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 17px 5px;
    color: var(--primary-color);
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
