@mixin reset-link {
    color: inherit;
    text-decoration: none;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin reset-button {
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@mixin transitions($duration, $timing-function: linear, $property...) {
    transition: $duration $property $timing-function;
}


@mixin flexCenter($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}
