@use '../base/mixins' as *;

.header {
    padding-top: 50px;
    margin-bottom: 140px;
    .container {
        @include flexCenter(20px);
        justify-content: space-between;
    }

    &__logo {
        a {
            @include flexCenter(15px);
        }
    }

    &__list {
        @include flexCenter(42px);

        &-item {
            a {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                line-height: 14.63px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-radius: 2px;
                    background: #fff;
                    height: 1.5px;
                    width: 0;
                    @include transitions(0.2s width);
                }

                @include hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__btns {
        @include flexCenter(35px);

        &-link {
            @include flexCenter;
            justify-content: center;
            font-size: 12px;
            font-weight: 700;
            line-height: 14.63px;
            text-transform: uppercase;
            border-radius: 40px;
            @include hover {
                transform: scale(1.02);
            }

            @include transitions(0.2s transform);

            &:first-child {
                padding: 17px 38px;
                border: 3px solid #fff;
                background: transparent;
            }

            &:last-child {
                padding: 20px 38px;
                color: #343045;
                background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
            }
        }
    }
}
